@model PTLChi.BTL._226.Models.Chitiet_dh

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Thông Tin Chi Tiết</h2>

<div>
    <h4>Chi Tiết Hóa Đơn</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Don_dhs.Dia_Chi_Nhan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Don_dhs.Dia_Chi_Nhan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sanphams.ID_Sanpham)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sanphams.ID_Sanpham)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ID_KhachHang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_KhachHang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ten_KhachHang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ten_KhachHang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ten_Sanpham)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ten_Sanpham)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.So_luong_mua)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.So_luong_mua)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bao_hanh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bao_hanh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gia_khuyen_mai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gia_khuyen_mai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dia_Chi_Nhan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dia_Chi_Nhan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Chi_chu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Chi_chu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ngay_lap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ngay_lap)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Id_NhanvienGH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id_NhanvienGH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ten_NhanvienGH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ten_NhanvienGH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Don_gia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Don_gia)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.ID_ChitietHoaDon }) |
    @Html.ActionLink("Quay Lại", "Index")
</p>
