<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width-device-width, initial-scale=2.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
<style>
    ul {
        list-style:none;
    }
    .navbar-nav {
        display:flex;
        align-items:center;
    }
    .navbar-nav .nav-item {
        margin-right:20px;
    }
</style>
</head>
<body>
    <nav class="container navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            @if (User.Identity.IsAuthenticated)
            {
                <a class="navbar-brand" href="#">Hi Admin</a>
            }           
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item  mx-2">@Html.ActionLink("Danh mục sản phẩm", "Index", "Danhmuc_sp", null, new { @class = "nav-link" })</li>
                    <li class="nav-item  mx-2">@Html.ActionLink("Sản Phẩm", "Index", "SanPhams", null, new { @class = "nav-link" })</li>
                    <li class="nav-item  mx-2">@Html.ActionLink("Khách Hàng", "Index", "Khach_Hang", null, new { @class = "nav-link" })</li>
                    <li class="nav-item  mx-2">@Html.ActionLink("Nhân viên giao hàng", "Index", "Nhanvien_GH", null, new { @class = "nav-link" })</li>
                    <li class="nav-item  mx-2">@Html.ActionLink("Đơn Đặt Hàng", "Index", "Don_dh", null, new { @class = "nav-link" })</li>

                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item  mx-2">@Html.ActionLink("Chi tiết đơn hàng", "Index", "Chitiet_dh", null, new { @class = "nav - link" })</li>
                        <li class="nav-item  mx-2">@Html.ActionLink("Đăng xuất", "Logout", "AccountModels")</li>
                    }
                    else
                    {
                        <li class="nav-item  mx-2">@Html.ActionLink("Đăng Nhập", "Login", "AccountModels")</li>

                    }
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - BTL.LTQL.Phạm Thị Linh Chi</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
