@model PTLChi.BTL._226.Models.Nhanvien_GH

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Nhanvien_GH</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ten_NhanvienGH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ten_NhanvienGH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sdt_1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sdt_1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sdt_2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sdt_2)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.ID_NhanvienGH }) |
    @Html.ActionLink("Quay Lại", "Index")
</p>
