@model PTLChi.BTL._226.Models.DanhGia

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>DanhGia</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SanPhams.ID_Danhmuc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SanPhams.ID_Danhmuc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoTen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoTen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ngay_Gio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ngay_Gio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Noi_dung)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Noi_dung)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dien_thoai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dien_thoai)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_DanhGia }) |
    @Html.ActionLink("Back to List", "Index")
</p>
