@model IEnumerable<QLBHDTDD.Models.DanhGia>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SanPhams.ID_Danhmuc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoTen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ngay_Gio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Noi_dung)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dien_thoai)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SanPhams.ID_Danhmuc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HoTen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ngay_Gio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Noi_dung)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dien_thoai)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ID_DanhGia }) |
            @Html.ActionLink("Details", "Details", new { id = item.ID_DanhGia }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ID_DanhGia })
        </td>
    </tr>
}

</table>
