@model IEnumerable<PTLChi.BTL._226.Models.Khach_hang>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Danh Sách Khách Hàng</h2>

<p>
    @Html.ActionLink("Thêm Mới", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ten_KhachHang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sdt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Ten_KhachHang)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sdt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.ActionLink("Sửa", "Edit", new { id=item.ID_KhachHang }) |
            @Html.ActionLink("Thông Tin Chi Tiết", "Details", new { id=item.ID_KhachHang }) |
            @Html.ActionLink("Xóa", "Delete", new { id=item.ID_KhachHang })
        </td>
    </tr>
}

</table>
