@model IEnumerable<PTLChi.BTL._226.Models.Chitiet_dh>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Don_dhs.Bao_hanh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sanphams.ID_Danhmuc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.So_luong_mua)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Don_gia)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Don_dhs.Bao_hanh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sanphams.ID_Danhmuc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.So_luong_mua)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Don_gia)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_ChitietHoaDon }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_ChitietHoaDon }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_ChitietHoaDon })
        </td>
    </tr>
}

</table>
